doctype html
html
    head
        title Typescript Express project seed
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        h1 Typescript Express project seed
